# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\prJava0\_javast39\task01javabasic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
